body{
    background-color: #1F2937;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: "Karla", sans-serif;
}

.container{
    width: 90%;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10%;
    display: flex;
    
}

h1,p{
    margin: 0;
}

h1{
    color: white;
}

.green{
    color: #4ADF86;
}

p{
    color: grey;
}

button{
    margin: 50px 0px;
    padding: 20px 20px;
    border-radius: 12px;
    font-size: 1.2rem;
    background-color: #279973;
    color: white;
}

.output{
    min-width: 400px;
}

label{
    color: white;
    margin-top: 30px ;
}

.password{
    background-color: #1b3f71;
    padding: 30px 30px;
    margin-top: 30px;
    margin-left: 300px;
    min-width: 300px;
    max-width: 2000px;
    border-radius: 12px;
    color: #10b981;
}

#pw2{
    margin-top: 250px;
}

.controls{
    display: flex;
    flex-direction: column;
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
  accent-color: #10b981; /* Modern browsers: change tick color */
  cursor: pointer;
  margin-left: 20px;
} 

